.App {
  height: 100%; 
  padding-top: 20px;  
  display: flex;  
  flex-direction: row; 
}

.editorWrap {
  display: block; 
  width: 45vw; 
  margin-left: 25px; 
}

.previewWrap {
  display: block; 
  width: 48vw; 
  margin-left: 15px; 
}

div.maximized {
  display: block; 
  width: 95vw; 
}

div.hide {
  display: none; 
}

