.App {
  height: 100%; 
  padding-top: 20px;  
  display: flex;  
  flex-direction: row; 
}

.editorWrap {
  display: block; 
  width: 45vw; 
  margin-left: 25px; 
}

.previewWrap {
  display: block; 
  width: 48vw; 
  margin-left: 15px; 
}

div.maximized {
  display: block; 
  width: 95vw; 
}

div.hide {
  display: none; 
}

@media(max-width: 800px) {
  .App {
    display: block; 
  }
  .editorWrap {
    width: 95vw; 
    margin: 10px auto; 
  }
  .previewWrap {
    width: 95vw; 
    margin: 0 auto; 
  }
}

@media(min-width: 1400px) {
  .App {
    padding-top: 80px; 
  }
  .editorWrap {
    margin-left: 35px; 
    margin-right: 20px; 
  }
}

@media(min-width: 2000px) {
  .App {
    padding-top: 150px; 
  }
  .editorWrap {
    margin-left: 55px; 
    margin-right: 30px; 
  }
}
