.textareaWrap {
  border: 1px solid black;
  border-top: none; 
}

.textarea {
  height: 700px; 
  width: 99%;
  font-size: 15px; 
  line-height: 25px;
  border: none;
}

@media(min-width: 1400px) {
  .textareaWrap {
    height: 800px; 
  }
  .textarea {
    height: 770px; 
  }
}

@media(min-width: 2000px) {
  .textareaWrap {
    height: 1050px; 
  }
  .textarea {
    height: 1000px; 
    font-size: 21px; 
  }
}

